h1 { 
    font-size: 20px; /*este funciona para el tamaño de la letra. */
    font-family: sans-serif;/*este funciona para poner el tipo de letra*/
    font-weight: bold;/*este funciona para como queremos que se vea el tipo de letra si mas gordito y así.*/
}

h3 { 
    font-size: 15px;
    font-family: sans-serif;
    font-weight: lighter;
}

h4{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
}

header,footer,article,aside,section,nav,hgroup{
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

article{
    text-align: left;/*funciona para poner el texto alineado.*/
    background: #D5DBDB;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 15px;
}

.ancho blockquote{
    border: 1px dashed black;
    padding: 40px;
    margin-bottom: 20px;
}

header{
    text-align: left;
}

aside{
    text-align: left;
}

#division{
    background: #FDFEFE ;
    width: 500px;/*ancho del div*/
    margin: 40px auto;/*margen del div*/
    padding: 20px;/*relleno de la página*/
    border: 1px solid black;
}

header,#navegacion{
    background: #F9E79F;
    padding: 0.5px;
}

#division li{/*aquí estoy editando todos los elementos li que estén en el id de division*/
    list-style: none; /*estilo de la lista*/
    padding: 5px;
    display: inline-block;/*sirve para ver si el elemento será tratado como un block o inline*/
}

.seccion{
    border-top: 1px solid black;
    margin: 20px;
    width: 250px;
    float: left;
}

.ancho{
    float: left;/*hace que el contido "flote" por así decirlo.*/
    margin: 20px 0;
    width: 100px;/*se puede utilizar porcentajes para poder adaptar mejor la página a cada computadora.*/
}

.pie{
    clear: both;
    padding: 20px;
    background: #F9E79F;
}

time{
    color: #707B7C;
}

img{
    width: 100px;
}
